*.DS_*

dotfiles/config/*
!dotfiles/config/nvim
!dotfiles/config/vim

dotfiles/tmux/*
!dotfiles/tmux/plugins/.gitignore

dotfiles/vim/.init.vim-rplugin~
dotfiles/vim/.netrwhist

dotfiles/vim/autoload/*
!dotfiles/tmux/plugins/.gitignore

dotfiles/vim/bundle/*
!dotfiles/tmux/plugins/.gitignore

dotfiles/vim/cache/back/*
!dotfiles/vim/cache/back/.gitignore

dotfiles/vim/cache/swap/*
!dotfiles/vim/cache/swap/.gitignore

dotfiles/vim/cache/undo/*
!dotfiles/vim/cache/undo/.gitignore

private/*
!private/env
!private/tmux-powerline
