*.DS_*

dotfiles/config/*
!dotfiles/config/nvim
!dotfiles/config/vim

dotfiles/tmux/*
!dotfiles/tmux/plugins/.gitignore

private/*
!private/env
!private/tmux-powerline

# VIM
dotfiles/vim/.init.vim-rplugin~
dotfiles/vim/.netrwhist
dotfiles/vim/autoload/*
dotfiles/vim/bundle/*
dotfiles/vim/session
dotfiles/vim/cache/back/*
dotfiles/vim/cache/swap/*
dotfiles/vim/cache/undo/*
!dotfiles/tmux/plugins/.gitignore
!dotfiles/tmux/plugins/.gitignore
!dotfiles/vim/cache/back/.gitignore
!dotfiles/vim/cache/swap/.gitignore
!dotfiles/vim/cache/undo/.gitignore

# EMACS
# Ignores every file starting with an underscore
# Also ignores every file inside the directories starting with an underscore
# but allows adding the directories themselves and a gitignore file inside'em
dotfiles/emacs.d/_*
!dotfiles/emacs.d/_*/
dotfiles/emacs.d/_*/*
!dotfiles/emacs.d/_*/.gitignore